.square {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 1px solid grey;
    border-right: 0px;
    border-bottom: 0px;
}

.square:last-child {
    border-right: 1px solid grey;
}

.square.snaked {
    background-color: grey;
}

.square.headSnake {
    background-color: green;
}

.square.food {
    background: url('../../assets/sausage.png') no-repeat;
}